@import "styles";

.loader {
	align-items: center;
	background-color: $background-color;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	transition: opacity 1.5s;
	width: 100%;
	z-index: $z-index-overlay;


	&__spinner {
		border-radius: 50%;
		position: absolute;
	}

	&__spinner:nth-of-type(1) {
		@include spinner(2s, $spinner-mercury-color, 64px);
		border-bottom: 0;
		border-left: 0;
	}

	&__spinner:nth-of-type(2) {
		@include spinner(6s, $spinner-venus-color, 96px);
		border-left: 0;
		border-top: 0;
	}

	&__spinner:nth-of-type(3) {
		@include spinner(8s, $spinner-earth-color, 128px);
		border-bottom: 0;
		border-right: 0;
	}

	&__spinner:nth-of-type(4) {
		@include spinner(14s, $spinner-mars-color, 160px);
		border-right: 0;
		border-top: 0;
	}

	&--invisible {
		opacity: 0;
	}

	&--finished {
		display: none;
	}
}
