@import "@/styles";

.content {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  max-width: 1800px;
  padding: 0 16px;
  width: 100%;

  @include respond-to(max-width, 1024px) {
    grid-template-columns: 1fr;
  }

  @include respond-to(max-width, 520px) {
    padding: 0;
  }
}
