@import "styles";

.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.header {
	align-items: center;
	background-color: $header-background-color;
	border-bottom: 1px solid $text-light;
	display: flex;
	height: $header-height;
	justify-content: flex-start;
	padding: 0 8px 0 32px;
	position: fixed;
	width: 100%;
	z-index: $z-index-overlay;

	@include respond-to(max-width, $break-phone) {
		padding: 0 8px 0 16px;
	}
}

.main {
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: center;
	margin-top: $header-height;
}
