@import "styles";

.observer {
	//max-width: calc(50vw - 4*6px);
	width: 50%;

	@include respond-to(max-width, $break-laptop) {
		//max-width: 100vw;
	}

	> div {
		position: unset !important;
	}

	.image {
		height: unset !important;
		object-fit: contain;
		position: relative !important;
		width: 100% !important;
	}
}
