@import "styles";

.observer {
	padding: 4px;
	width: 100%; // 1 column

	@include respond-to(min-width, $break-laptop) {
		width: 50%;  // 2 columns
	}
	
	@include respond-to(min-width, $break-desktop) {
		width: 33.33%;  // 3 columns
	}

	> div {
		position: unset !important;
	}

	.image {
		height: unset !important;
		object-fit: contain;
		position: relative !important;
		width: 100% !important;
	}
}
