// general
$white: #fff;
$black: #000;
$gray: rgb(220, 220, 220);
$red: rgb(233, 75, 75);
$green: rgb(55, 228, 156);

// text
$text-dark: rgb(15, 15, 15);
$text-light: rgb(230, 230, 230);

// pages
$background-color: $white;

// loader
$spinner-mercury-color: rgb(117, 110, 105);
$spinner-venus-color: rgb(206, 186, 76);
$spinner-earth-color: rgb(61, 142, 167);
$spinner-mars-color: rgb(184, 93, 51);
$spinner-sun-color: rgb(255, 232, 21);
