// general
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$gray: rgb(220, 220, 220);
$red: rgb(233, 75, 75);
$green: rgb(55, 228, 156);

// text
$text-dark: rgb(15, 15, 15);
$text-light: rgb(230, 230, 230);
$text-light-hover: rgb(200, 200, 200);
$text-light-active: rgb(255, 255, 255);

// backgrounds
$background-color: $white;
$header-background-color: rgb(40, 40, 40);
$rovers-page-background-color: rgb(75, 50, 30);
$rovers-page-background-color-gradient: linear-gradient(15deg, $black 0%, rgb(146, 78, 57) 100%);

// loader
$spinner-mercury-color: rgb(117, 110, 105);
$spinner-venus-color: rgb(206, 186, 76);
$spinner-earth-color: rgb(61, 142, 167);
$spinner-mars-color: rgb(184, 93, 51);
$spinner-sun-color: rgb(255, 232, 21);
