// general
$background-color: rgb(95, 83, 73);
$white: #fff;
$black: #000;
$gray: rgb(220, 220, 220);
$red: rgb(233, 75, 75);
$green: rgb(55, 228, 156);

// text
$text-dark: rgb(15, 15, 15);
$text-gray: rgb(210, 210, 210);
$text-light: rgb(230, 230, 230);
