@import "styles";

.gallery {
	display: grid;
	width: 100%;
}

.page-load-status {
	border-top: 1px solid $text-dark;
	color: $text-dark;
	display: none; /* hidden by default */
	padding-top: 8px;
	text-align: center;
}
