@import "styles";

.gallery {
	display: grid;
	width: 100%;
}

.page-load-status {
	border-top: 1px solid $text-light;
	color: $text-light;
	display: none; /* hidden by default */
	padding-top: 8px;
	text-align: center;
}

.are-images-unloaded {
	// make use of thisssssssssssssssssssssssssss
	display: none;
}
