.content {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 16px;
}

.image-container {
	margin-bottom: 16px;
	max-width: 1200px;
	width: 100%;

	>div {
		position: unset !important;
	}

	.image {
		height: unset !important;
		object-fit: contain;
		position: relative !important;
		width: 100% !important;
	}
}
